parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\ReviewSettings\\:\\:set\\(\\)\\.$#"
			count: 1
			path: database/migrations/2020_09_17_000300_create_reviews_table_or_rename.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Facades\\\\Cart\\:\\:subtotal\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Delivery.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:coveredArea\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Delivery.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderType\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Delivery.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:checkDistance\\(\\)\\.$#"
			count: 1
			path: src/Classes/CoveredArea.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:userPosition\\(\\)\\.$#"
			count: 1
			path: src/Classes/CoveredArea.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Location\\\\Contracts\\\\AreaInterface\\:\\:\\$location\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined method DateTime\\:\\:between\\(\\)\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Builder\\:\\:IsEnabled\\(\\)\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Location\\\\Contracts\\\\LocationInterface\\:\\:getOption\\(\\)\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminAuth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:isEnabled\\(\\)\\.$#"
			count: 1
			path: src/Components/Categories.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Category\\:\\:isEnabled\\(\\)\\.$#"
			count: 1
			path: src/Components/Categories.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 2
			path: src/Components/Categories.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Components\\\\Gallery\\:\\:\\$id\\.$#"
			count: 1
			path: src/Components/Gallery.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Components/Gallery.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:collectionSchedule\\(\\)\\.$#"
			count: 1
			path: src/Components/Info.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Components/Info.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:deliverySchedule\\(\\)\\.$#"
			count: 1
			path: src/Components/Info.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getOrderType\\(\\)\\.$#"
			count: 1
			path: src/Components/Info.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getOrderTypes\\(\\)\\.$#"
			count: 1
			path: src/Components/Info.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:lastOrderTime\\(\\)\\.$#"
			count: 1
			path: src/Components/Info.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:openingSchedule\\(\\)\\.$#"
			count: 1
			path: src/Components/Info.php

		-
			message: "#^Call to static method make\\(\\) on an unknown class Igniter\\\\Local\\\\Components\\\\WorkingHour\\.$#"
			count: 1
			path: src/Components/Info.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminAuth\\:\\:getUser\\(\\)\\.$#"
			count: 2
			path: src/Components/LocalBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:geocode\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:getLogs\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:reverse\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getSession\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:putSession\\(\\)\\.$#"
			count: 3
			path: src/Components/LocalBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:searchByCoordinates\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateNearbyArea\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateUserPosition\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalBox.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminAuth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Location\\:\\:withCount\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:geocode\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:getLogs\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:reverse\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getSession\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:putSession\\(\\)\\.$#"
			count: 3
			path: src/Components/LocalList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:searchByCoordinates\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateNearbyArea\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateUserPosition\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalList.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:userPosition\\(\\)\\.$#"
			count: 4
			path: src/Components/LocalList.php

		-
			message: "#^Call to an undefined static method Illuminate\\\\Support\\\\Facades\\\\Event\\:\\:fire\\(\\)\\.$#"
			count: 1
			path: src/Components/LocalList.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:listFrontEnd\\(\\)\\.$#"
			count: 1
			path: src/Components/Menu.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Location\\:\\:whereSlug\\(\\)\\.$#"
			count: 1
			path: src/Components/Menu.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Components/Menu.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderDateTime\\(\\)\\.$#"
			count: 1
			path: src/Components/Menu.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderType\\(\\)\\.$#"
			count: 1
			path: src/Components/Menu.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Components\\\\Review\\:\\:\\$author\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Components\\\\Review\\:\\:\\$customer_id\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Components\\\\Review\\:\\:\\$delivery\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Components\\\\Review\\:\\:\\$location_id\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Components\\\\Review\\:\\:\\$quality\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Components\\\\Review\\:\\:\\$review_status\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Components\\\\Review\\:\\:\\$review_text\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Components\\\\Review\\:\\:\\$sale_id\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Components\\\\Review\\:\\:\\$sale_type\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Components\\\\Review\\:\\:\\$service\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Components\\\\Review\\:\\:save\\(\\)\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:isApproved\\(\\)\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getRatingOptions\\(\\)\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\Review\\:\\:whereReviewable\\(\\)\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\ReviewSettings\\:\\:get\\(\\)\\.$#"
			count: 2
			path: src/Components/Review.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 4
			path: src/Components/Review.php

		-
			message: "#^Class Igniter\\\\Reservation\\\\Classes\\\\BookingManager not found\\.$#"
			count: 1
			path: src/Components/Review.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:geocode\\(\\)\\.$#"
			count: 1
			path: src/Components/Search.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:getLogs\\(\\)\\.$#"
			count: 1
			path: src/Components/Search.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:reverse\\(\\)\\.$#"
			count: 1
			path: src/Components/Search.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:checkDeliveryCoverage\\(\\)\\.$#"
			count: 1
			path: src/Components/Search.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getSession\\(\\)\\.$#"
			count: 2
			path: src/Components/Search.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderTypeIsDelivery\\(\\)\\.$#"
			count: 1
			path: src/Components/Search.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:putSession\\(\\)\\.$#"
			count: 3
			path: src/Components/Search.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:requiresUserPosition\\(\\)\\.$#"
			count: 1
			path: src/Components/Search.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:searchByCoordinates\\(\\)\\.$#"
			count: 2
			path: src/Components/Search.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateNearbyArea\\(\\)\\.$#"
			count: 2
			path: src/Components/Search.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateUserPosition\\(\\)\\.$#"
			count: 1
			path: src/Components/Search.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:userPosition\\(\\)\\.$#"
			count: 2
			path: src/Components/Search.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 4
			path: src/Components/Search.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\LocationArea\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:geocode\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateNearbyArea\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateUserPosition\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\ReviewSettings\\:\\:get\\(\\)\\.$#"
			count: 2
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Main\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 2
			path: src/Extension.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getRatingOptions\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/StarRating.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getRatingOptions\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Reviews.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Reviews.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Order\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Listeners/MaxOrderPerTimeslotReached.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Listeners/MaxOrderPerTimeslotReached.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: src/Listeners/MaxOrderPerTimeslotReached.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\MenuExport\\:\\:\\$menu_categories\\.$#"
			count: 1
			path: src/Models/MenuExport.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\MenuExport\\:\\:\\$menu_mealtimes\\.$#"
			count: 1
			path: src/Models/MenuExport.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\MenuImport\\:\\:\\$update_existing\\.$#"
			count: 1
			path: src/Models/MenuImport.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Category\\:\\:firstOrCreate\\(\\)\\.$#"
			count: 1
			path: src/Models/MenuImport.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Mealtime\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Models/MenuImport.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Menu\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/Models/MenuImport.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Models\\\\Menu\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Models/MenuImport.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Models\\\\Review\\:\\:pluckDates\\(\\)\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\Review\\:\\:whereReviewable\\(\\)\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\ReviewSettings\\:\\:get\\(\\)\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Variable \\$customer might not be defined\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Variable \\$location might not be defined\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Variable \\$page might not be defined\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Variable \\$pageLimit might not be defined\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Variable \\$sort might not be defined\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderType\\(\\)\\.$#"
			count: 1
			path: src/ScheduleTypes/Collection.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Facades\\\\Cart\\:\\:subtotal\\(\\)\\.$#"
			count: 1
			path: src/ScheduleTypes/Delivery.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:coveredArea\\(\\)\\.$#"
			count: 1
			path: src/ScheduleTypes/Delivery.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderType\\(\\)\\.$#"
			count: 1
			path: src/ScheduleTypes/Delivery.php
