parameters:
	ignoreErrors:
		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\ReviewSettings\\:\\:set\\(\\)\\.$#"
			count: 1
			path: database/migrations/2020_09_17_000300_create_reviews_table_or_rename.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Facades\\\\Cart\\:\\:subtotal\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Delivery.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:coveredArea\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Delivery.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:orderType\\(\\)\\.$#"
			count: 1
			path: src/CartConditions/Delivery.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:checkDistance\\(\\)\\.$#"
			count: 1
			path: src/Classes/CoveredArea.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:userPosition\\(\\)\\.$#"
			count: 1
			path: src/Classes/CoveredArea.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Contracts\\\\AreaInterface\\:\\:\\$location\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined method DateTime\\:\\:between\\(\\)\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Contracts\\\\LocationInterface\\:\\:availableOrderTypes\\(\\)\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Contracts\\\\LocationInterface\\:\\:findDeliveryArea\\(\\)\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Contracts\\\\LocationInterface\\:\\:getDistanceUnit\\(\\)\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Contracts\\\\LocationInterface\\:\\:getSettings\\(\\)\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Contracts\\\\LocationInterface\\:\\:listDeliveryAreas\\(\\)\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Contracts\\\\LocationInterface\\:\\:searchOrDefaultDeliveryArea\\(\\)\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Contracts\\\\LocationInterface\\:\\:shouldAddLeadTime\\(\\)\\.$#"
			count: 1
			path: src/Classes/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Contracts\\\\LocationInterface\\:\\:getKey\\(\\)\\.$#"
			count: 3
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Contracts\\\\LocationInterface\\:\\:getSlugKeyName\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Contracts\\\\LocationInterface\\:\\:newQuery\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Contracts\\\\LocationInterface\\:\\:newWorkingSchedule\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:IsEnabled\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Query\\\\Builder\\:\\:selectDistance\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Query\\\\Builder\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Optional\\:\\:hasPermission\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:isSuperUser\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:user\\(\\)\\.$#"
			count: 1
			path: src/Classes/Manager.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getWeekDaysOptions\\(\\)\\.$#"
			count: 1
			path: src/Classes/ScheduleItem.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Collection\\<\\(int\\|string\\), Igniter\\\\Local\\\\Classes\\\\WorkingRange\\>\\:\\:generate\\(\\)\\.$#"
			count: 1
			path: src/Classes/WorkingPeriod.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Optional\\:\\:end\\(\\)\\.$#"
			count: 1
			path: src/Classes/WorkingPeriod.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Support\\\\Optional\\:\\:start\\(\\)\\.$#"
			count: 1
			path: src/Classes/WorkingPeriod.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Classes/WorkingPeriod.php

		-
			message: "#^Comparison operation \"\\=\\=\" between DateInterval and 0 results in an error\\.$#"
			count: 1
			path: src/Classes/WorkingRange.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Classes/WorkingRange.php

		-
			message: "#^Call to an undefined method DateTimeInterface\\:\\:addDay\\(\\)\\.$#"
			count: 1
			path: src/Classes/WorkingSchedule.php

		-
			message: "#^Call to an undefined method DateTimeInterface\\:\\:lt\\(\\)\\.$#"
			count: 1
			path: src/Classes/WorkingSchedule.php

		-
			message: "#^Function traceLog invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: src/Classes/WorkingSchedule.php

		-
			message: "#^PHPDoc tag @param has invalid value \\(DateTime\\|mixed Date or timestamp\\)\\: Unexpected token \"Date\", expected variable at offset 33$#"
			count: 1
			path: src/Classes/WorkingSchedule.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Classes/WorkingSchedule.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: src/Classes/WorkingTimeslot.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:registerCallback\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:geocode\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateNearbyArea\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:updateUserPosition\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\LocationArea\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/Extension.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\Auth\\:\\:customer\\(\\)\\.$#"
			count: 2
			path: src/Extension.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/MapArea.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Html\\\\HtmlFacade\\:\\:attributes\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/MapArea.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Classes\\\\BaseWidget\\:\\:\\$previewMode\\.$#"
			count: 1
			path: src/FormWidgets/ScheduleEditor.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Classes\\\\BaseWidget\\:\\:\\$previewMode\\.$#"
			count: 1
			path: src/FormWidgets/SettingsEditor.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:listRegisteredSettings\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/SettingsEditor.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getRatingOptions\\(\\)\\.$#"
			count: 1
			path: src/FormWidgets/StarRating.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Routing\\\\Controller\\:\\:\\$locationConfig\\.$#"
			count: 1
			path: src/Http/Actions/LocationAwareController.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:currentOrAssigned\\(\\)\\.$#"
			count: 1
			path: src/Http/Actions/LocationAwareController.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Http\\\\Controllers\\\\Locations\\:\\:getFormModel\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Locations.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Http\\\\Controllers\\\\Locations\\:\\:refreshList\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Locations.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Locations.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getRatingOptions\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Reviews.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Admin\\\\Facades\\\\AdminMenu\\:\\:setContext\\(\\)\\.$#"
			count: 1
			path: src/Http/Controllers/Reviews.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Http/Middleware/CheckLocation.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:currentOrDefault\\(\\)\\.$#"
			count: 1
			path: src/Http/Middleware/CheckLocation.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:resetSession\\(\\)\\.$#"
			count: 1
			path: src/Http/Middleware/CheckLocation.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:check\\(\\)\\.$#"
			count: 1
			path: src/Http/Middleware/CheckLocation.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:getUser\\(\\)\\.$#"
			count: 1
			path: src/Http/Middleware/CheckLocation.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:user\\(\\)\\.$#"
			count: 1
			path: src/Http/Middleware/CheckLocation.php

		-
			message: "#^Cannot call method hasParameter\\(\\) on object\\|string\\.$#"
			count: 1
			path: src/Http/Middleware/CheckLocation.php

		-
			message: "#^Cannot call method parameter\\(\\) on object\\|string\\.$#"
			count: 1
			path: src/Http/Middleware/CheckLocation.php

		-
			message: "#^Cannot call method setParameter\\(\\) on object\\|string\\.$#"
			count: 1
			path: src/Http/Middleware/CheckLocation.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Http\\\\Requests\\\\ReviewRequest\\:\\:\\$reviewable_type\\.$#"
			count: 2
			path: src/Http/Requests/ReviewRequest.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Cart\\\\Models\\\\Order\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Listeners/MaxOrderPerTimeslotReached.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 1
			path: src/Listeners/MaxOrderPerTimeslotReached.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:getId\\(\\)\\.$#"
			count: 1
			path: src/Listeners/MaxOrderPerTimeslotReached.php

		-
			message: "#^Access to an undefined property Igniter\\\\Admin\\\\Classes\\\\BaseWidget\\:\\:\\$previewMode\\.$#"
			count: 1
			path: src/MainMenuWidgets/LocationPicker.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:getLogs\\(\\)\\.$#"
			count: 1
			path: src/MainMenuWidgets/LocationPicker.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:current\\(\\)\\.$#"
			count: 2
			path: src/MainMenuWidgets/LocationPicker.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:resetSession\\(\\)\\.$#"
			count: 1
			path: src/MainMenuWidgets/LocationPicker.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Facades\\\\Location\\:\\:setCurrent\\(\\)\\.$#"
			count: 1
			path: src/MainMenuWidgets/LocationPicker.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\Location\\:\\:find\\(\\)\\.$#"
			count: 1
			path: src/MainMenuWidgets/LocationPicker.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:user\\(\\)\\.$#"
			count: 3
			path: src/MainMenuWidgets/LocationPicker.php

		-
			message: "#^Function array_except invoked with 3 parameters, 2 required\\.$#"
			count: 1
			path: src/MainMenuWidgets/LocationPicker.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$country\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$delivery_areas\\.$#"
			count: 4
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$description\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$grouped_settings\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$is_auto_lat_lng\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$location_address_1\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$location_address_2\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$location_city\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$location_country_id\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$location_email\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$location_lat\\.$#"
			count: 4
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$location_lng\\.$#"
			count: 4
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$location_name\\.$#"
			count: 2
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$location_postcode\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$location_state\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$location_telephone\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$options\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$permalink_slug\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$settings\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Location\\:\\:\\$working_hours\\.$#"
			count: 2
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Support\\\\Optional\\:\\:\\$country_name\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Support\\\\Optional\\:\\:\\$format\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Support\\\\Optional\\:\\:\\$iso_code_2\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Illuminate\\\\Support\\\\Optional\\:\\:\\$iso_code_3\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Models\\\\Location\\:\\:delivery_areas\\(\\)\\.$#"
			count: 3
			path: src/Models/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Models\\\\Location\\:\\:futureOrderDays\\(\\)\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Models\\\\Location\\:\\:hasFutureOrder\\(\\)\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Models\\\\Location\\:\\:settings\\(\\)\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Models\\\\Location\\:\\:working_hours\\(\\)\\.$#"
			count: 2
			path: src/Models/Location.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:geocode\\(\\)\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\Location\\:\\:whereIsEnabled\\(\\)\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Function traceLog invoked with 1 parameter, 0 required\\.$#"
			count: 2
			path: src/Models/Location.php

		-
			message: "#^Method Igniter\\\\Local\\\\Models\\\\Location\\:\\:getCurrentTime\\(\\) should return Carbon\\\\Carbon but return statement is missing\\.$#"
			count: 1
			path: src/Models/Location.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\LocationArea\\:\\:\\$boundaries\\.$#"
			count: 1
			path: src/Models/LocationArea.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\LocationArea\\:\\:\\$circle\\.$#"
			count: 4
			path: src/Models/LocationArea.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\LocationArea\\:\\:\\$location_id\\.$#"
			count: 1
			path: src/Models/LocationArea.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\LocationArea\\:\\:\\$type\\.$#"
			count: 2
			path: src/Models/LocationArea.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\LocationArea\\:\\:\\$vertices\\.$#"
			count: 2
			path: src/Models/LocationArea.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Flame\\\\Geolite\\\\Facades\\\\Geocoder\\:\\:reverse\\(\\)\\.$#"
			count: 1
			path: src/Models/LocationArea.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\LocationSettings\\:\\:\\$data\\.$#"
			count: 2
			path: src/Models/LocationSettings.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$customer\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$customer_id\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$customer_name\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Flame\\\\Database\\\\Model\\:\\:\\$location_id\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Review\\:\\:\\$author\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Review\\:\\:\\$customer_id\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Review\\:\\:\\$delivery\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Review\\:\\:\\$location_id\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Review\\:\\:\\$quality\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Review\\:\\:\\$review_status\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Review\\:\\:\\$review_text\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Review\\:\\:\\$reviewable_id\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Review\\:\\:\\$reviewable_type\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\Review\\:\\:\\$service\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Call to an undefined method Igniter\\\\Flame\\\\Database\\\\Model\\:\\:isCompleted\\(\\)\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Call to an undefined method Igniter\\\\Local\\\\Models\\\\Review\\:\\:pluckDates\\(\\)\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\Review\\:\\:whereReviewable\\(\\)\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Call to an undefined static method Igniter\\\\User\\\\Facades\\\\AdminAuth\\:\\:isSuperUser\\(\\)\\.$#"
			count: 1
			path: src/Models/Review.php

		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 2
			path: src/Models/Review.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\ReviewSettings\\:\\:get\\(\\)\\.$#"
			count: 3
			path: src/Models/ReviewSettings.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:selectDistance\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/LocationScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:whereHasLocation\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/LocationableScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:getLocationableRelationObject\\(\\)\\.$#"
			count: 2
			path: src/Models/Scopes/LocationableScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:locationableIsMorphRelationType\\(\\)\\.$#"
			count: 1
			path: src/Models/Scopes/LocationableScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:locationableIsSingleRelationType\\(\\)\\.$#"
			count: 2
			path: src/Models/Scopes/LocationableScope.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Model\\:\\:locationableRelationName\\(\\)\\.$#"
			count: 2
			path: src/Models/Scopes/LocationableScope.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\WorkingHour\\:\\:\\$close\\.$#"
			count: 2
			path: src/Models/WorkingHour.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\WorkingHour\\:\\:\\$closing_time\\.$#"
			count: 2
			path: src/Models/WorkingHour.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\WorkingHour\\:\\:\\$day\\.$#"
			count: 2
			path: src/Models/WorkingHour.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\WorkingHour\\:\\:\\$open\\.$#"
			count: 2
			path: src/Models/WorkingHour.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\WorkingHour\\:\\:\\$opening_time\\.$#"
			count: 2
			path: src/Models/WorkingHour.php

		-
			message: "#^Access to an undefined property Igniter\\\\Local\\\\Models\\\\WorkingHour\\:\\:\\$weekday\\.$#"
			count: 1
			path: src/Models/WorkingHour.php

		-
			message: "#^Call to an undefined static method Igniter\\\\Local\\\\Models\\\\WorkingHour\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Models/WorkingHour.php

		-
			message: "#^Method Carbon\\\\Carbon\\:\\:addDay\\(\\) invoked with 1 parameter, 0 required\\.$#"
			count: 1
			path: src/Models/WorkingHour.php
